/*Sass*/
/*Mixin*/
body {
  background-color: #f6f7ed; }

.jumbotron {
  background-color: #7a4d4d;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #8dd6cb;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 280px;
  margin-top: 10px;
  margin-left: 3px;
  margin-right: 3px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.div-texto {
  padding: 10px 10px 10px 10px; }

.portada {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto; }

.tab-content {
  padding-top: 10px; }

/*# sourceMappingURL=styles.css.map */
