/*Sass*/
$yellow:#f6f7ed;
$turquesa:#8dd6cb;
$rojo:#7a4d4d;

/*Mixin*/
@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

body{
    background-color: $yellow;
}

.jumbotron{
    background-color: $rojo;
    color: black;
    @include margenes(50px, 0px)
}

footer{
    padding: 10px 10px 0 10px;
    background-color: $turquesa;
    @include margenes(10px, 0px)
}

.card-hotel{
    flex: 1 280px;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon{
    padding-right: 10px;
}

.div-texto{
    padding: 10px 10px 10px 10px;
}
.portada{
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.tab-content{
    padding-top: 10px;
}