/*Less*/
@yellow:#f6f7ed;
@turquesa:#8dd6cb;
@rojo:#b56969;

/*Mixin*/
.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

body {
    background-color: #f6f7ed; }
  
.jumbotron {
    background-color: #b56969;
    color: black;
    .margenes(50px, 0px);
    }
  
footer {
    padding: 10px 10px 0 10px;
    background-color: #8dd6cb;
    .margenes(10px, 0px)
    }
  
.card-hotel {
    flex: 1 280px;
    margin-left: 3px;
    margin-right: 3px; 
    .margenes(10px, 0px)
    }
  
.btn-reserva {
    width: 100%;
    border-radius: 0px; }
  
.footer-address-icon {
    padding-right: 10px; }
  
.div-texto {
    padding: 10px 10px 10px 10px; }
  
.portada {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto; }
  
.tab-content {
    padding-top: 10px; }
  